@(userId: String)(room: String)(name: String)(player: String)

<!DOCTYPE html>

<html lang="en">
<head>
<title>GoBang Turn</title>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="/assets/javascripts/fancywebsocket.js"></script>
<script src="/assets/javascripts/app.js"></script>
<link rel="stylesheet" href="/css/gobang.css">
<link rel="stylesheet" href="/css/game.css">
</head>
<body>
	<div class="page-wrapper">
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/gobang">GoBang!</a>
				</div>
	
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a id="new_round" href="#">New Round</a></li>
						<li><a href="#">Help</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Game Session: <span id="room">@room</span></a></li>
						<li><a id="player" href="#">@player</a></li>
						<li><a id="userId" type=@userId href="#">User: @name</a></li>
						<!--  					<li><a href="/logout">Logout</a></li> -->
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div id="gamefield" class="panel panel-default">
						<div id="statusline" class="panel-heading">
							<div class="row">
								<div class="col-md-5">
									<div id="p1" class="well well-sm">
										<b>Player 1</b>
									</div>
								</div>
								<div class="col-md-2">
									<div id="wins" class="well well-sm">
										<b><span id="p1wins">0</span> : <span id="p2wins">0</span></b>
									</div>
									<div class="modal fade bs-winner-modal-sm" tabindex="-1"
										role="dialog" aria-labelledby="mySmallModalLabel">
										<div class="modal-dialog modal-sm">
											<div class="modal-content">
												<div class="modal-footer">
													<p>
														<span id="winner"></span> wins!
													</p>
													<button type="button" class="btn btn-default"
														data-dismiss="modal" onclick="command('newRound')">Rematch</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div id="p2" class="well well-sm">
										<b>Player 2</b>
									</div>
								</div>
							</div>
						</div>
						<div class="panel-body">
						@for( a <-1 to 19){
					      <div class="btn-group gameField" role="group" style="margin-left: 15%;">
						  @for( b <-1 to 19){	
						  	@defining(a + "_" + b) { tid=>
					  		<button id=@tid type="button" class="token" onclick="command('@tid')"></button>
					  		}
						  }
						  </div>
						}
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<i id="undo_icon" class="fa fa-undo fa-3x"></i>
				</div>
			</div>
		</div>
	</div>
</body>
</html>