<div>
    <p>
    We used different technology to bring our game online.<br>
    Click on the picture to start the game.<br><br>
    </p>
    <div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="images/play_logo.jpg" alt="play_logo">
	      <div class="caption">
	        <h3>Play version</h3>
	        <p>Create a new game, implemented with Typesafe Play Framework</p>
	        <p><div class="input-group">
				<input type="text" class="form-control" id="createPlayName" placeholder="insert game name">
				<span class="input-group-btn">
		        	<button id="createPlay" class="btn btn-primary" role="button">Create</button >
		        </span>
		       </div>
			</div>
	    </div>
	  </div>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="images/AngularJS_logo.jpg" alt="ng_logo">
	      <div class="caption">
	        <h3>AngularJs version</h3>
	        <p>Create a new game, implemented with AngularJs by Google</p>
	        <p><div class="input-group">
				<input type="text" class="form-control" id="createNGJSName" placeholder="insert game name">
				<span class="input-group-btn">
		        	<button id="createNGJS" class="btn btn-primary" role="button">Create</button >
		        </span>
		       </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>