<div>
    <div class="row">
        <div class=col-md-4>
            play-Framework
        </div>
        <div class=col-md-4>
            Angular.js
        </div>
        <div class=col-md-4>
            Poly
        </div>
    </div>
    <div class="row">
        <div class=col-md-4>
            <a href="/gobang/game">click here</a> to start.
        </div>
        <div class=col-md-4>
            <a href="/gobang.html ">click here</a> for the <i>Angular.js</i> version.
        </div>
        <div class=col-md-4>
            <a href="/gobang.html ">click here</a> for the <i>Poly</i> version.
        </div>
    </div>
</div>