<!DOCTYPE html>

<html ng-app="goBangApp" lang="en">
<head>
<title>GoBang</title>
<link rel="stylesheet" href="/css/game.css">

<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
<script
	src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
<script
	src="http://cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="/assets/javascripts/fancywebsocket.js"></script>	
<script type="text/javascript" src="/gobang_ng.js"></script>
</head>
<body ng-controller="GoBangCtrl">
    <div class="page-wrapper">
        <nav class="navbar navbar-default">
    		<div class="container-fluid">
    			<!-- Brand and toggle get grouped for better mobile display -->
    			<div class="navbar-header">
    				<button type="button" class="navbar-toggle collapsed"
    					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
    					aria-expanded="false">
    					<span class="sr-only">Toggle navigation</span> <span
    						class="icon-bar"></span> <span class="icon-bar"></span> <span
    						class="icon-bar"></span>
    				</button>
    				<a class="navbar-brand" href="/gobang">GoBang!</a>
    			</div>
    
    			<!-- Collect the nav links, forms, and other content for toggling -->
    			<div class="collapse navbar-collapse"
    				id="bs-example-navbar-collapse-1">
    				<ul class="nav navbar-nav">
    					<li><a href="#" ng-click='command("newGame")'>New Game</a></li>
    					<li><a id="new_round" href="#" ng-click='command("newRound")'>New Round</a></li>
    					<li class="dropdown"><a href="#" class="dropdown-toggle"
    						data-toggle="dropdown" role="button" aria-haspopup="true"
    						aria-expanded="false">Options <span class="caret"></span></a>
    						<ul class="dropdown-menu">
    							<li><a href="#">Action</a></li>
    							<li><a href="#">Another action</a></li>
    							<li><a href="#">Something else here</a></li>
    							<li role="separator" class="divider"></li>
    							<li><a href="#">Separated link</a></li>
    							<li role="separator" class="divider"></li>
    							<li><a href="#">One more separated link</a></li>
    						</ul></li>
    					<li><a href="#">Help</a></li>
    				</ul>
    				<ul class="nav navbar-nav navbar-right">
 				     	<li><a href="#">Game Session: {{room}}</a></li>
     					<li><a id="userId" href="#">{{name}}</a></li>
    					<li><a href="/logout">Logout</a></li>
    				</ul>
    			</div>
    			<!-- /.navbar-collapse -->
    		</div>
    		<!-- /.container-fluid -->
    	</nav>

        <div class="container-fluid">
        	<div class="row">
        		<div class="col-md-3">
        		</div>
        
        		<div class="col-md-6">
        		    <div id="gamefield" class="panel panel-default">
        		        <div id="statusline" class="panel-heading">
        		            <div class="row">
        		                <div class="col-md-5">
        		                    <div id="p1" class="well well-sm">Player 1</div>
        		                </div>
        		                <div class="col-md-2">
        		                    <div id="wins" class="well well-sm">{{p1wins}} : {{p2wins}}</div>
        		                    <div class="modal fade bs-winner-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
								        <div class="modal-dialog modal-sm">
								            <div class="modal-content">
								      	        <span id="winner">{{winner}}</span> wins!
								      	        <div class="modal-footer">
        											<button type="button" class="btn btn-default" data-dismiss="modal" ng-click='command("newRound")'>Rematch</button>
        										</div>
								            </div>
								      	</div>
								    </div>
        		                </div>
        		                <div class="col-md-5">
        		                    <div id="p2" class="well well-sm">Player 2</div>
        		                </div>
        		            </div>
        		        </div>
        		        <div class="panel-body">
            		        <gobang-field>X</gobang-field>
        		        </div>
        		    </div>
        		</div>
        
             	<!--div class="statusline">Status: {{status}}</div--->
        
        		<div class="col-md-3">
        			<i id="undo_icon" class="fa fa-undo fa-3x" ng-click='command("undo")' ng-show="cplayer != name && status != 'g'"></i>
        		</div>
    		</div>
    	</div>
    </div>
</body>
</html>