.page-wrapper {
    background-image: url(/images/bamboo_floor_texture_by_chubbylesbian.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#gamefield {
    background-color: rgba(0,0,0,0);
    border-color: #846A4A;
    border-style: solid;
}

#statusline {
    background-image: url(/images/local_texture__three_by_one_by_beyond_oddities.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.panel-body {
	text-align: center;
}

.tokens {
	min-width: 13px;
	width: 4.1%;
	display: inline-block;
}

.token {
	display: inline-block;
	width: 100%;
	padding-top: 84%;
	position: relative;
	bottom: 2px;
	border-radius: 28%;
	border-style: solid;
	border-color: #846A4A;
	background: rgba(0,0,0,0.1);
}

.token.none {
    background: rgba(0,0,0,0.1);
}

.token.black {
	background-color: ivory;
}

.token.blue {
	background-color: #151515;
}

#undo_icon {
	cursor: pointer;
}

#wins {
    text-align: center;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgba(148, 111, 48, 0.66);
    border-style: none;
    color: black;
}

#p1 {
    text-align: center;
    color: ivory;
    background-color: rgba(148, 111, 48, 0.66);
    border-style: none;
    border-width: medium;
    border-color: ivory;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#p2 {
    text-align: center;
    color: #151515;
    background-color: rgba(148, 111, 48, 0.66);
    border-style: none;
    border-width: medium;
    border-color: #151515;
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.modal-footer {
	background-color: rgb(11, 11, 11);
	text-align: center;
	border: none;
}