li[role=mitem] {
    border: 2px solid #aaaaaa;
    border-radius: 60px;
} 

body {
    background-color: #151515;
}

p {
    color:#DA6523;
    font-size: 120%;
    font-family: "Times New Roman", Times, serif;
}

p[role=citem]{
    color:#000000;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #000000;
    border-radius: 60px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active
{
    background-color: #000000;
    border-radius: 60px;
}