li {
    border: 2px groove #191970;
} 

body {
    background-color: black;
}

p {
    color:orange;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #696969;
    text-decoration: underline;
}
.navbar #nav > .active > a {
    color: #696969;
}